*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(237, 234, 234);
}

.header{
    background-color: white;
    height: 87px;
    display : flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 15px -10px;
}

.title-text{
    font-weight: bold;
    font-size: 37px;
    margin-left: 30px;
}

.login-button{
    margin-right: 30px; 
    font-weight: 500;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


